*{
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: "Amazon Ember Light" ;
    src: url('AmazonEmber_Lt.ttf') format('truetype');
  }

body{
    margin: 0 auto;
    font-family: "Amazon Ember Light",Arial,sans-serif;
    background-color: #222;
    min-height: 78px;
    
    
}

.menu{
    background-color:#232f3e;
    display: flex;

    

}
.menu img{
    margin-left: 49px;
    margin-top: 22px;
    margin-bottom: 20px;
    color: #fff;
    width: 112px;
    height: auto;
    cursor: pointer;
    
}

.menu ul{
    margin-top: 26px;
    margin-left: 20px;
    list-style: none;
    
}

.menu ul li{
    font-size: 17px;
    display: inline-block;
       
}
.menu .negrito{
    font-weight: bold;
       
}

.menu #minha-area{
    
    margin-left: 10px;
       
}

.menu .negrito a:hover{
    color: #fff;
    
       
}

.menu a{
    
    padding: 5px;
    color: rgba(242,244, 246, 0.9);
    text-decoration: none;
}
.conteudo{
    height: 100vh;
    background: url(../img/bg.jpg) no-repeat center top;
    background-size: cover; 
    display: flex;
        
}
.conteudo .conteudo1 {
    color: #fff;
}

.conteudo1 h1{
    margin-top: 150px;
    margin-left: 90px;
    font-size: 40px;
}

.conteudo1 p{
    font-size: 18px;
    margin-left: 90px;
    margin-top: 35px;
}

#icon-menu{
    background: url(../img/icon-lupa.svg) no-repeat;
    background-size: 21px;
    background-position-y: 12px;
    margin-left: 25px;
    padding: 10px; 
    cursor: pointer;
    
   
}

#icon-menu a:hover{
}

#icon-menu2{
    background: url(../img/icon-globo.svg) no-repeat;
    background-size: 23px;
    background-position-y: 9px;
    margin-left: 13px;
    padding: 10px;  
   
}

#icon-menu2 a{
    margin-left: 12px;
    margin-top: 2px;
    
    
}
#icon-menu2 a:hover{
    color: #fff;
    
    
}

#icon-menu3{
    background: url(../img/icon-account.svg) no-repeat;
    background-size: 18px;

    background-position-y: 9px;
    opacity: 0.7;
    margin-left: 13px;
    padding: 10px;
    cursor: pointer;   
}

#icon-menu3 a:hover{
    color: #fff;
    opacity: 100; 
}




/***Botão***/

#botao-experimente{
    
    margin-top: 23px;
    margin-left: 56.8em;
}

.experimente{
    background-color: #0f79af;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 8px 18px 5px 15px;
    
}


.botao-prime p.ou{
    font-size: 15px;
    margin: 30px;
    margin-left: 8.5em;
}

.botao-prime{
    margin-left: 90px;
    margin-top: 52px;

}
.botao-prime span a{
    background-color: #0f79af;
    color: #fff;
    text-align: center;
    padding: 20px 50px 20px 50px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.8px;

}

.botao-prime span.botao2 a{
    background-color: #0f79af;
    color: #fff;
    text-align: center;
    padding: 20px 28px 20px 30px;
    border-radius: 2px;
    cursor: pointer;
    
}

.botao-prime .legenda{
    margin-left: 0;
    margin-top: 135px;
    font-size: 15px;


}
